{% extends "basehome.html" %}
 
{% block title %}Home{% endblock %}
 
{% block body %}
    <div class="container-fluid mt-2 mb-2">
        <div class="col-20">
            <h1>Selamat Datang di Database Sumbangan COVID-19</h1>
        </div>
    </div>
    <div class="container-fluid mt-2 mb-2">
        <p>Untuk menambahkan data sumbangan, klik tombol <a href="../public/sumbangan/index">Sumbang</a></p><br />
        <p>Untuk melihat sumbangan yang telah terinput, klik tombol <a href="../public/jenis">List Sumbangan</a></p>
    </div>

 
{% endblock %}
